{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{title}} {% endblock %}
{% block css_block %}
<style>
.bd{
    background-color: #ccc;
    }
.login{
width: 550px;
padding: 40px;
border:1px solid #ccc;
}
.btn{
width:100%;
}
.sign_up{
width:550px;
padding:35px;
border:1px solid #ccc;
margin-top:5px;
}

@media(max-width: 320px){
.login{
    width:100%;
}
.sign_up{
    width: 100%;
}
}

@media(max-width: 420px){
.login{
    width:100%;
}
.sign_up{
    width: 100%;
}
}
</style>
{% endblock %}


{% block body_block %}
<div class="row mt-5">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12">
<center>
    <div class="login mt-4 text-left bd">
        <h2 class="text-center">Login Detailes :</h2>
        <hr>
        <form method="POST">
            {{form|crispy}}
            {% csrf_token %}
            <button type="submit" name="submit" class="btn btn-primary btn-sm">Login</button>
        </form>
    </div>
    <div class="sign_up bd">
        <p>Don't Have an Account? <a href="{% url 'App_Login:signup' %}">Sign Up Here</a></p>
    </div>
</center>
</div>
</div>
</div>
{% endblock %}